@model IEnumerable<MVCBoolstrape.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="jumbotron alert-success">
    <h2>員工基本資料</h2>
</div>
@section topCSS
{
    <style type="text/css">
        /*೪ۢTableើ՞ዀᚡᚠՔ*/

        th {
            color: white;
            background-color: black;
            text-align: center;
        }
        /*೪ۢTableၦਠӗHoverݏӏූਞޠਣ*/

        .table > tbody > tr:hover {
            background-color: antiquewhite;
        }
    </style>
}
<table class="table table-bordered table-striped">
    <tr>
        <th>
            <div class="glyphicon glyphicon-th-list"></div>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            <div class="glyphicon glyphicon-user"></div>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            <div class="glyphicon glyphicon-phone"></div>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            <div class="glyphicon glyphicon-envelope"></div>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            <div class="glyphicon glyphicon-home"></div>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            <div class="glyphicon glyphicon-king"></div>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("明細", "Details", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) |
                @Html.ActionLink("新增", "Create", null, new { id = item.Id }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }

</table>
